#id1{
    margin-left: 20%;
}
.s1{
    margin-right: 70px;
    text-decoration: none;
}
#id2{
    padding-left: 15%;
}
#id3{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #dddddd; 
    height: 600px;
}
#id4{
    background-color: #00ff00;
    width: 140px; 
    height: 30px;
    margin-left: 87%;
}
.s2{
    margin-right: 10px; 
    text-decoration: none;
}
.s3{
    margin-right: 30px;
    width=149px;
    height=150px;
}
.s4{
    margin-left: 80px;
    margin-top: 10px;
}
.s5{
    padding-left: 10%;
}
#id5{
    margin-left: 10%;
    margin-right: 10%; 
    background-color: #dddddd;
    height: 280px;
}
.s6{
    margin-right: 20px
}
.s7{
    background-color: #00ff00;
    width: 140px;
    height: 30px; 
    margin-left: 87%;
    
        
}
.s8{
    margin-left: 5px;
}
.s9{
    margin-left: 5px;
    margin-top: 5px;
}
